.root {
  width: 640px;
  background-color: white;
  display: grid;
  /* grid-template: '; */
  justify-content: center;
}

/* HEADER */
.root > header {
  margin: auto;
  text-align: center;
}

/* CONTENT */
.root > article {
  margin: auto;
  text-align: center;
}

.separator {
  margin-left: 0.375em;
  margin-right: 0.125em;
  font-size: 1.5em;
  font-family: serif;
  vertical-align: middle;
}

.word {
  font-size: 2em;
  font-weight: 700;
  vertical-align: middle;
}

.intro {
  font-weight: 400;
  font-size: 1.5em;
}

/* FOOTER */
.root > footer {
  color: #666;
  margin: auto;
  text-align: center;
}
